body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#a99b9b,#b03030);
font-family:Arial;
}

.forgot-container{
width:100%;
display:flex;
justify-content:center;
}

.forgot-card{
background:white;
padding:40px;
border-radius:10px;
width:350px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.logo{
width:80px;
margin-bottom:10px;
}

.title{
color:#800000;
font-weight:bold;
margin-bottom:10px;
}

.btn-maroon{
background:#552626;
color:white;
border:none;
padding:10px;
}

.btn-maroon:hover{
background:#a00000;
}

.extra-links a{
color:#800000;
text-decoration:none;
}

.extra-links a:hover{
text-decoration:underline;
}